<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Player de Vídeo SCORM</title>
		<style>
			body,
			html {
				margin: 0;
				padding: 0;
				height: 100%;
				overflow: hidden;
				background-color: #000;
			}
			video {
				width: 100%;
				height: 100%;
			}
		</style>
	</head>
	<body>
		<video id="videoPlayer" controls controlslist="nodownload"></video>
		<script src="scorm_api_wrapper.js"></script>

		<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
		<script>
			window.onload = function () {
				// Inicializa a comunicação com o LMS
				scorm.init();
				const urlParams = new URLSearchParams(window.location.search);
				const videoUrl = urlParams.get("videoUrl");
				const player = document.getElementById("videoPlayer");

				if (videoUrl) {
					if (player.canPlayType("application/vnd.apple.mpegurl")) {
						player.src = videoUrl;
					} else if (Hls.isSupported()) {
						const hls = new Hls();
						hls.loadSource(videoUrl);
						hls.attachMedia(player);
					}

					// Define o status inicial como incompleto
					scorm.setStatus("incomplete");
				}

				// Evento para quando o vídeo terminar
				player.addEventListener("ended", function () {
					// Ao terminar, marca como completo, nota 100 e salva.
					scorm.setStatus("completed");
					scorm.setScore(100); // Define a nota máxima
					scorm.save();
					scorm.quit(); // Encerra a comunicação
				});
			};

			// Garante que a comunicação seja encerrada se o usuário fechar a janela
			window.onbeforeunload = function () {
				scorm.quit();
			};
		</script>
	</body>
</html>
